.MainPage{
    height: 100vh;
}

.cases {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tweet{
    width: 100%;
    max-width: 600px;
}

.charts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-width: 1050px){
    .charts{
        flex-direction: column;
    }
}

header {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid #dbe9f5;
    margin-bottom: 1%;
    color: #62625d;
    box-shadow: 0 4px 6px 0 rgba(31,70,88,.04);   
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}